<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Member_old</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- SiteMeshFilter -->
  <filter>
  	<filter-name>siteMeshFilter</filter-name>
  	<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/sitemesh.xml</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>siteMeshFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>  
  
  
  <!-- CharacterEncodingFilter -->
  <filter>
  	<filter-name>characterEncodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>characterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/biz/beans_dao.xml
			classpath:spring/biz/beans_oracle.xml
			classpath:spring/biz/beans_mysql.xml
			classpath:spring/biz/beans_service_spring.xml
			classpath:spring/biz/beans_service_mybatis.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>
<!-- 			oracle, spring -->
<!-- 			oracle, mybatis -->
<!-- 			mysql, spring -->
			mysql, mybatis
		</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  
  <!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:spring/mvc/beans_mvc.xml
				classpath:spring/mvc/beans_controller.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<exception-type>org.springframework.transaction.CannotCreateTransactionException</exception-type>
		<location>/WEB-INF/views/errors/server.jsp</location>
	</error-page>
  
</web-app>


